.com_section_main {
    position: relative;
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;
}/*기업탭부분*/ 
.com_section_board {
    position: relative;
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;

}/*기업후기게시판*/
/*****************************************************************
							  swlee
******************************************************************/
.review-title-wrapper{
	display: block;
    padding-left: 15px;
    border-top: 8px solid #ebeef3;
}
.com-select{
	padding-left: 15px;
}

.com-rank{ 
	width: 200px;
	height: 30px;
	margin: 0;
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: 0;
	border: 1px solid #D0D0D0;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;	
	float: left;
}

.content1 .box1 .com-page{
	width: 10%;
	margin: 0;
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: 0;
	border: 1px solid #D0D0D0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;	
	float: right;
}


.review-name .com-img {
	width: 100px;
	/* border: blue 2px solid; */
	padding: 10px;
}


/* --------------- 찜하기 버튼 ----------------- */
.review-name .com-btn {
	width: 100px;
	padding-top: 75px;
}

#zzimBtn{
	border: none;
	cursor: pointer;
	width: 80px;
	height: 40px;
	border: solid 1px rgba(247, 248, 252, 0.6);
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	opacity: 0.8;
}
#zzimOutBtn{
	border: none;
	cursor: pointer;
	background: #53c7ed;
	width: 80px;
	height: 40px;
	border: solid 1px rgba(247, 248, 252, 0.6);
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	opacity: 0.8;
}
#zzimBtn:hover{
	background: #53c7ed;
	color: #fff;
	font-weight: 600;
}
#zzimOutBtn:hover{
	background: #65737e;
	color: #fff;
	font-weight: 600;
}

/*----------------------------------------------*/




.row #comStar1 {
	left: 0;
}

.row #comStar2 {
	left: 50%;
}

.review-content{
	/* border: red solid 2px; */
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	height: auto;
}
.review-content-tab1{
	/* border: red solid 2px; */
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	height: auto;
}
.review-content-tab2{
	/* border: blue solid 2px; */
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	height: auto;
}




/**************************************************************************/
/*                                                                        */
/*                               [ 기업 정보 탭 ]                              */
/*                                                                        */
/**************************************************************************/
   /*(1) ------------ 상단 기업 이름 박스 ----- */
.review-box-title { 
	width: 100%;
	height: 150px;
}

.review-name { /*기업 이름 바깥 박스*/
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.review-name .com-skill { /*기업타이틀들어가는박스 기업명 기업이름*/
	left: 150px;
	width:560px;
	display: inline-flex;
	flex-direction:column;
	padding: 10px;
}

.com-skill .review-name-text p{
	color: #65737e;
    font-size: 30px;
    font-weight: 200;
    padding: 6px 0 6px 6px;	
}

.com-skill .review-name-text span{
	font-size: 16px;
	color: #a0a0a0;
}

.com-skill .review-name-text .score-color{
	font-size: 22px;
	color: #65737e;
}

.com-skill .com-skill-subinfo { /*기업이름하단에 들어가는 기업카테고리*/
	border-top: 2px solid #ebeef3;
	background: rgba(201, 215, 226, 0.2);
	width: 100%;
	height: 60px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 7px;
	font-size: 12px;
	color: #a0a0a0;
}


/*  (2) ------------ 중단 기업 소개 박스 ----- */

.review-box-intro {
	width: 100%;
	height: auto;
	padding: 30px;
}

.review-box-intro .com-intro-text {
	padding: 18px;
	margin: 7px auto; 
	width: 100%;
	height: auto;
	background: rgba(201, 215, 226, 0.2);
	border-top: 2px solid #ebeef3;
}

.review-box-intro .com-intro-text p{
	
}

.review-box-intro label{ /*기업인트로 라벨*/
	font-size: 15px;
	font-weight: 700;
	color: #55acee;
}




/*  (3) ------------ 하단 기업 정보 박스 ----- */

.review-box-info{
	width: 100%;
	height: auto;;
	padding: 30px;
}

.review-box-info .com-info {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.review-box-info .com-info .com-info-boxs {
	display: block;
	height: 50%;
}

.review-box-info .com-info .com-info-boxs .com-info-box {
	display: inline-block;
	width: 190px;
	float: left;
	margin: 8px;
}

.review-box-info .com-info .com-info-boxs .com-info-box p{
	border-top: 2px solid #ebeef3;
	background: rgba(201, 215, 226, 0.2);
	color: #65737e;
    font-size: 14px;
    padding: 6px;
    margin-top: 4px;
}

.review-box-info label{ /*기업 정보 라벨*/
	font-size: 15px;
	font-weight: 700;
	color: #55acee;
}


/*  (4) ------------ 최하단 콘테스트 박스 ----- */

.review-box-contest{
	width: 100%;
	height: auto;
	padding: 30px;
}
.review-box-contest p{
	border-top: 2px solid #ebeef3;
	background: rgba(201, 215, 226, 0.2);
	padding: 20px;
	margin-top: 5px;
}
.review-box-contest label{ 
	font-size: 15px;
	font-weight: 700;
	color: #65737e;
}

                         
/**************************************************************************/
/*                                                                        */
/*                               [ 기업평점 탭 ]                              */
/*                                                                        */
/**************************************************************************/

.com-grade-page{
	padding: 30px;
}
.com-grades{
	/* border: pink solid 2px; */
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}


.com-grades .com-grades-companyname{
	border-bottom: #ebeef3 solid 1px;
	margin-bottom: 50px;
	padding: 10px 0 20px 0;
	font-size: 20px;
	font-weight: 100;
	color: #65737e;
}
.com-grades .com-grades-companyname span{
	font-weight: 350;
}

.com-grades .com-grade-boxs{
	display: block;
	height: 50%;
	padding-bottom: 25px;
}
.com-grades .com-grade-boxs .com-grade-box{
	/* border: blue solid 2px; */
	display: inline-block;
	width: 50%;
	float: left;
	margin: 10px auto;
	padding-right: 15px;
	border-left: #ebeef3 solid 5px;
}
.com-grades .com-grade-boxs .com-grade-box label{
	/* border: blue solid 2px; */
	border-bottom: #ebeef3 solid 2px;
	font-size: 15px;
	font-weight: 700;
	color: #65737e;
	margin-left: 20px;
}


/*****************************************************************
						평점탭 - progress bar
******************************************************************/
.com-grade-progress progress {
	display:inline-block;
	width:210px;
	height:25px;
	background:none;
	border: 0;
	border-radius: 15px;
	text-align: left;
	position:relative;
	font-size: 0.8em;
}
.com-grade-progress progress::-webkit-progress-bar {
	height:20px;
	width:210px;
	margin:0 auto;
	background-color: #eef0f0;
	border-radius: 15px;
}
.com-grade-progress progress::-webkit-progress-value {
	display:inline-block;
	float:left;
	height:20px;
	margin:0px -10px 0 0;
	background: #ffbad9;
	border-radius: 15px;
}

.com-grade-progress progress:after {
	margin:-20px 0 0 100px;
	padding:0;
	display:inline-block;
	float:left;
}

.com-grade-box .com-grade-progress {
	/* background: rgba(101, 115, 126, 0.2); */
	margin: 20px;
}
.com-grade-box .com-grade-progress span{
	display:inline-block;
	vertical-align:top;
	float:right;
	width:45px;
	height:20px;
	color: #65737e;
	
}

/* ------------------------------------------------------------------ */



.star-left{
	width:50%;
	height: 100%;
	float: left;
	
}

.star-left label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	
}

.star-right{
	width:50%;
	height: 100%;
	float: left;
	
}

.star-right label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	
}

.star-box {
	padding: 10px;
}
.pagination{
	align-content: center;
}
.com-contest-paging{
	display: inline-flex;
    flex-direction: column;
    align-items:center;
}

.cont-qna-page ul,li{
	display:flex;
	list-style: none;
}




/*****************************************************************
							Button
******************************************************************/
.btn {
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 15px;
	text-decoration: none;
	margin: 0;
	color: #fff;
	position: relative;
	display: inline-block;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.blue{
	background-color: #55acee;
	box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
	background-color: #6fc6ff;
}

/*****************************************************************
						sw_reply
******************************************************************/
#com_reply{
	border: 1px blue solid;
	border-radius: 10px;
	background: #867d88;
	color: #fff;
}
.table-label label{
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
}

