.com_section_main {
    position: relative;
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;
}/*기업탭부분*/ 
.com_section_board {
    position: relative;
    height: 700px;
    border: 1px solid #dee3eb;
    background: #fff;

}/*기업후기게시판*/
/*****************************************************************
							  swlee
******************************************************************/

.com-select{
	padding-left: 15px;
}

.com-rank{ 
	width: 200px;
	height: 30px;
	margin: 0;
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: 0;
	border: 1px solid #D0D0D0;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;	
	float: left;
}

.content1 .box1 .com-page{
	width: 10%;
	margin: 0;
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: 0;
	border: 1px solid #D0D0D0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;	
	float: right;
}


.review-name .com-img {
	width: 100px;
	/* border: blue 2px solid; */
	padding: 10px;
}


/* --------------- 찜하기 버튼 ----------------- */
.review-name .com-btn {
	width: 100px;
	padding-top: 75px;
}

#zzimBtn{
	border: none;
	cursor: pointer;
	width: 80px;
	height: 40px;
	border: solid 1px rgba(247, 248, 252, 0.6);
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	opacity: 0.8;
}
#zzimOutBtn{
	border: none;
	cursor: pointer;
	background: #53c7ed;
	width: 80px;
	height: 40px;
	border: solid 1px rgba(247, 248, 252, 0.6);
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	opacity: 0.8;
}
#zzimBtn:hover{
	background: #53c7ed;
	color: #fff;
	font-weight: 600;
}
#zzimOutBtn:hover{
	background: #65737e;
	color: #fff;
	font-weight: 600;
}

/*----------------------------------------------*/




.row #comStar1 {
	left: 0;
}

.row #comStar2 {
	left: 50%;
}

.review-content{
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	height: auto;
}





/* ------------------------------[ 기업정보 탭 ]------------------------------*
                                                                      *
                                                                      *
   (1) ------------ 상단 기업 이름 박스 ----- */
.review-box-title { 
	width: 100%;
	height: 150px;
}

.review-name { /*기업 이름 바깥 박스*/
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.review-name .com-skill { /*기업타이틀들어가는박스*/
	left: 150px;
	width:560px;
	display: inline-flex;
	flex-direction:column;
	padding: 10px;
}

.com-skill .review-name-text p{
	color: #65737e;
    font-size: 30px;
    font-weight: 600;
    padding: 6px 0 6px 6px;	
}

.com-skill .review-name-text span{
	font-size: 16px;
	color: #a0a0a0;
}

.com-skill .review-name-text .score-color{
	font-size: 22px;
	color: #65737e;
}

.com-skill .com-skill-subinfo { /*기업이름하단에 들어가는 기업카테고리*/
	border-top: 2px solid #ebeef3;
	background: rgba(201, 215, 226, 0.2);
	width: 100%;
	height: 60px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 7px;
	font-size: 12px;
	color: #a0a0a0;
}


/*  (2) ------------ 중단 기업 소개 박스 ----- */

.review-box-intro {
	width: 100%;
	height: auto;
	padding: 30px;
}

.review-box-intro .com-intro-text {
	padding: 18px;
	margin: 7px auto; 
	width: 100%;
	height: auto;
	background: rgba(201, 215, 226, 0.2);
	border-top: 2px solid #ebeef3;
}

.review-box-intro .com-intro-text p{
	
}

.review-box-intro label{ /*기업인트로 라벨*/
	font-size: 15px;
	font-weight: 700;
	color: #55acee;
}




/*  (3) ------------ 하단 기업 정보 박스 ----- */

.review-box-info{
	width: 100%;
	height: auto;;
	padding: 30px;
}


.review-box-info .com-info {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.review-box-info .com-info .com-info-boxs {
	display: block;
	height: 50%;
}

.review-box-info .com-info .com-info-boxs .com-info-box {
	display: inline-block;
	width: 190px;
	float: left;
	margin: 8px;
}

.review-box-info .com-info .com-info-boxs .com-info-box p{
	border-top: 2px solid #ebeef3;
	background: rgba(201, 215, 226, 0.2);
	color: #65737e;
    font-size: 14px;
    padding: 6px;
    margin-top: 4px;
}

.review-box-info label{ /*기업 정보 라벨*/
	font-size: 15px;
	font-weight: 700;
	color: #55acee;
}


/*  (4) ------------ 최하단 콘테스트 박스 ----- */

.review-box-contest{
	width: 100%;
	height: auto;
	padding: 30px;
}
.review-box-contest p{
	border-top: 2px solid #ebeef3;
	background: rgba(201, 215, 226, 0.2);
	padding: 20px;
	margin-top: 5px;
}
.review-box-contest label{ 
	font-size: 15px;
	font-weight: 700;
	color: #65737e;
}

                         
/* ------------------------------[ 기업평점 탭 ]------------------------------*
                                                                      *
                                                                      */
.com-grade{
	border: yellow solid 2px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
.com-grade .com-grade-boxs{
	display: block;
	height: 50%;
}
.com-grade .com-grade-boxs .com-grade-box{
	border: blue solid 2px;
	display: inline-block;
	width: 50%;
	float: left;
	margin: 8px auto;
	
}





.star-left{
	width:50%;
	height: 100%;
	float: left;
	
}

.star-left label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	
}

.star-right{
	width:50%;
	height: 100%;
	float: left;
	
}

.star-right label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	
}

.star-box {
	padding: 10px;
}
.pagination{
	align-content: center;
}
.com-contest-paging{
	display: inline-flex;
    flex-direction: column;
    align-items:center;
}

.cont-qna-page ul,li{
	display:flex;
	list-style: none;
}


/*****************************************************************
							Label
******************************************************************/

/* .review-content label{
  width: 100%;
   float: left;
   line-height: 15px;
   font-size: 15px;
   font-weight: 700;
   letter-spacing: 2px;
   color: #55acee;
   position: relative;
}  */
/* .review-content label:before {
  content: "";
   width: 5px;
   height: 100%;
   position: absolute;
   top: 0;
   left: -20px;
   background: #55acee;
}  */

/*****************************************************************
							Button
******************************************************************/
.btn {
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 15px;
	text-decoration: none;
	margin: 0;
	color: #fff;
	position: relative;
	display: inline-block;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.blue{
	background-color: #55acee;
	box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
	background-color: #6fc6ff;
}
/*****************************************************************
							Table
******************************************************************/
.company-contest-table table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.company-contest-table table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.company-contest-table table a:active,
.company-contest-table table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.company-contest-table table {
	width: 700px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#ffffff;
	margin:0;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.company-contest-table table th {
	padding:12px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#c4fdfc), to(#dcfefd));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.company-contest-table table th:first-child{
	text-align: left;
	padding-left:10px;
}
.company-contest-table table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.company-contest-table table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.company-contest-table table tr{
	text-align: center;
	padding-left:20px;
}
.company-contest-table table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
	width: 500px;
}
.company-contest-table table tr td {
	padding:8px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.company-contest-table table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.company-contest-table table tr:last-child td{
	border-bottom:0;
}
.company-contest-table table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.company-contest-table table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.company-contest-table table tr:hover td{
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dcfefd));
	background: -moz-linear-gradient(top,  #fafafa,  #dcfefd);	
}
/*****************************************************************
						sw_reply
******************************************************************/
#com_reply{
	border: 1px blue solid;
	border-radius: 10px;
	background: #867d88;
	color: #fff;
}
.table-label label{
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
}
/*****************************************************************
						progress bar
******************************************************************/
progress {
	display:inline-block;
	width:190px;
	height:25px;
	/* padding:15px 0 0 0; */
	margin: 10px 0 0 0;
	background:none;
	border: 0;
	border-radius: 15px;
	text-align: left;
	position:relative;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 0.8em;
}
progress::-webkit-progress-bar {
	height:25px;
	width:200px;
	margin:0 auto;
	background-color: #66bb6a;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}
progress::-webkit-progress-value {
	display:inline-block;
	float:left;
	height:25px;
	margin:0px -10px 0 0;
	background: #ef5350;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}

progress:after {
	margin:-20px 0 0 100px;
	padding:0;
	display:inline-block;
	float:left;
	content: attr(value) '%';
}