
/*****************************************************************
							  swlee
******************************************************************/
 .section_main {
    position: relative;
    height: 650px;
    border: 1px solid #dee3eb;
    background: #fff;
} 
.content1 {
	width: 740px;
	height: 470px;
	margin: 15px 0 15px 0;
	border: 3px green solid;
	display: flex;
	flex-direction: column;
}

.box1 {
	width: 740px;
	height: 470px;
	margin: 0;

}

.elem {
	position: relative;
	border: solid 3px red;
	top: 0;
}

.elem-yellow {
	border: solid 3px yellow;	
}

.com-select{
	padding-left: 15px;
}

.com-rank{ 
	width: 200px;
	height: 30px;
	margin: 0;
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: 0;
	border: 1px solid #D0D0D0;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;	
	float: left;
}

.content1 .box1 .com-page{
	width: 10%;
	margin: 0;
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: 0;
	border: 1px solid #D0D0D0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;	
	float: right;
}


.row {
	width: 100%;
}

.review-name .com-img {
	width: 100px;
	border: blue 2px solid;
	padding: 10px;
}

.review-name .com-skill {
	left: 150px;
	width:494px;
	display: flex;
	flex-direction: column;
	border: blue 2px solid;
	padding: 10px;
}

.review-name .com-btn {
	left: 600px;
	width: 100px;
	border: blue 2px solid;
	padding: 10px;
}

.row #comStar1 {
	left: 0;
}

.row #comStar2 {
	left: 50%;
}

.review-content{
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.review-box {
	border: orange 2px solid;
	width: 100%;
	height: 100px;
}

.review-name {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.com-info {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#box-left {
	width:33%;
	float: left;
}

#box-center {
	width:33%;
	float: left;
}

#box-right {
	width:33%;
	float: left;
}

.star-left{
	width:50%;
	height: 100%;
	float: left;
	
}

.star-left label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	
}

.star-right{
	width:50%;
	height: 100%;
	float: left;
	
}

.star-right label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	
}

.star-box {
	padding: 10px;
}


/*****************************************************************
							Table
******************************************************************/
.company-contest-table table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.company-contest-table table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.company-contest-table table a:active,
.company-contest-table table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.company-contest-table table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#ffffff;
	margin:0;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.company-contest-table table th {
	padding:12px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.company-contest-table table th:first-child{
	text-align: left;
	padding-left:20px;
}
.company-contest-table table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.company-contest-table table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.company-contest-table table tr{
	text-align: center;
	padding-left:20px;
}
.company-contest-table table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
	/* width: 400px; */
}
.company-contest-table table tr td {
	padding:8px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.company-contest-table table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.company-contest-table table tr:last-child td{
	border-bottom:0;
}
.company-contest-table table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.company-contest-table table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.company-contest-table table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
/*****************************************************************
						sw_qna
******************************************************************/
#com_reply{
	border: 1px blue solid;
	border-radius: 10px;
	background: #867d88;
	color: #fff;
}
.table-label label{
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
}


#registBtn {
	right: 0;
	bottom: 0;
}
/*****************************************************************
						progress bar
******************************************************************/
progress {
	display:inline-block;
	width:190px;
	height:25px;
	/* padding:15px 0 0 0; */
	margin: 10px 0 0 0;
	background:none;
	border: 0;
	border-radius: 15px;
	text-align: left;
	position:relative;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 0.8em;
}
progress::-webkit-progress-bar {
	height:25px;
	width:200px;
	margin:0 auto;
	background-color: #66bb6a;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}
progress::-webkit-progress-value {
	display:inline-block;
	float:left;
	height:25px;
	margin:0px -10px 0 0;
	background: #ef5350;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}

progress:after {
	margin:-20px 0 0 100px;
	padding:0;
	display:inline-block;
	float:left;
	content: attr(value) '%';
}