
/*****************************************************************
							  swlee
******************************************************************/
 .section_communityregister {
    position: relative;
    width: 740px;
    height: 500px;
    border: 1px solid #dee3eb;
    background: #fff;
} 


.community_wrapper{
	margin:10px;
	display:block;
	padding: 0;
	height: 425px;
	position: relative;
}

.register-contest:hover{
	background-color: #2b303b;
}

.community-readtitle{
	height:45px;
	width:100%;
	margin: 0;
    padding: 10px;
	display: block;
	position: relative;	
}

.community-readtitle .readtitle{
	display: inline-block;
	position: relative;
	width: 340px;
	height: 45px;
}

 .title-label{
	font-size: 20px;
}

.readtitle .community-box{
	width: 270px;
	height: 20px;
}

.community-register{
	height:300px;
	width:720px;
	margin: 0;
    padding:10px;
	display: inline-block;
	position: relative;
	
}
.community-register .ta{
	resize:none;
	width: 700px;
	height: 230px;
}
.community-btn {
	height: 70px;
	width:720px;
	margin: 0;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.register-qna {
	height:35px;
	width:125px;
	font-size:15px;
    margin: 0;
    padding:0;
    border:none;
    outline: none;
	background-color:#65737e;
	color:#fff;
	cursor:pointer;
	
	-webkit-transition: all .3s ease;
 	-moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*****************************************************************
							  modify
******************************************************************/

 .section_communitymod {
    position: relative;
    width: 740px;
    height: 500px;
    border: 1px solid #dee3eb;
    background: #fff;
} 

.community-register .modta{
	resize:none;
	width: 700px;
	height: 230px;
}

.community-modtitle{
	height:60px;
	width:100%;
	margin: 0;
    padding: 10px;
	display: block;
	position: relative;	
}

.community-modtitle .readtitle{
	display: inline-block;
	position: relative;
	width: 340px;
	height: 40px;
}