
/*****************************************************************
							  section
******************************************************************/
 .section_communityread {
    position: relative;
    width: 740px;
    height: 500px;
    border: 1px solid #dee3eb;
    background: #fff;
} 
 .section_communityreply {
    position: relative;
    width: 740px;
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;
} 


/*****************************************************************
							  title
******************************************************************/

.community_readwrapper{
	margin-top:10px;
	display:block;
	padding-left: 10px;
	padding-right: 10px;
	height: 425px;
	position: relative;
}

.community-readtitle{
	height:auto;
	width:100%;
	margin: 0;
    padding: 10px;
	display: block;
	position: relative;	
}

.community-readtitle .readtitle{
	display: inline-block;
	position: relative;
	width: 340px;
	height: 25px;
}

.community-content{
	padding: 10px;
	height:auto;
	width:700px;
	display: inline-block;
	position: relative;
	
}

.community-button{
	padding: 10px;
	height:auto;
	width:700px;
	display: inline-block;
	position: relative;
	
}

.form-p {
	width: 680px;
    border: 1px solid lightgray;
    height: 200px;
}

.qna-title{
	width: 230px;
}

/*****************************************************************
							  Reply
******************************************************************/
.reply-container .box{
	display: block;
	height: auto;
}

.reply-container .box .reply-content .reply-writecontent{
    padding: 0;
}
.reply-content .reply-writer{
	width: 250px;
}
.reply-content .reply-btn{
	height: 20px;
	width:100px;
	background-color: #00ffff;
	float: right;
	border: none;
}
.reply_box_content_wrap{
	display: inline-block;
}
.reply-container .box ul,li{
	list-style: none;
}
