
/*****************************************************************
							  swlee
******************************************************************/
/**** 커뮤니티 글쓰기,수정 / 기업 글쓰기,수정 css는 모두 이거 씁니다!****/

 .section-board-register {
    position: relative;
    width: 740px;
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;
} 

.board-register-wrapper{
	margin:10px;
	display:block;
	padding: 20px;
	height: auto;
	position: relative;
	/* border: orange solid 2px; */
}

.board-register-box{
	/* border: 1px solid #dee3eb; */
		
}

.board-register-top { /* ------------------■ 상단) 제목 작성자 등 박스*/
	height:auto;
	width:100%;
	margin: 0;
    padding: 10px 30px 10px 20px;
	display: block;
	position: relative;	
	background: #fff;
    color: #65737e;
    /* border: 1px solid #dee3eb; */
    /* border: blue solid 2px; */
}
.board-register-top .board-register-top-input{
	height: 30px;
	margin: 0px;
	
}
.board-register-top .board-register-top-input label{
	font-size: 15px;
	font-weight: 200;
	color: #65737e;
}
.board-register-top .board-register-top-input input[type="text"]{
	font-size: 15px;
	height: 24px;
	color: #65737e;
	width: 560px;
	margin-left: 5px;
	padding-left: 5px;
	font-weight: 200;
	float: right;
}

.board-register-write { /* ------------------■ 중단) */
	height:auto;
	width:100%;
	margin: 0;
    padding: 10px;
	display: block;
	position: relative;	
	background: #fff;
    color: #65737e;
    border-bottom: #dee3eb solid 1px;
    /* border: 1px solid #dee3eb; */
    /* border: blue solid 2px; */
}

.board-register-write-box {
	margin: 0;
    padding: 10px;
    /* border: red solid 2px; */
}
.board-register-write label{
	font-size: 15px;
	font-weight: 200;
	color: #65737e;
	
}
.board-register-write textarea{
	font-size: 15px;
	width: 625px;
	height: 180px;
}

.com-review-register .board-register-write textarea{ /*후기부분*/
	font-size: 15px;
	width: 625px;
	height: 90px;
}


.board-register-button { /* ------------------■ 하단) 버튼 */
	width: 100%;
	height: 60px;
    /* border: 1px solid #dee3eb; */
    /* border: pink solid 2px; */
}
.board-register-button .board-register-button-box{
	margin-top: 25px;
}

/* 하단 [완료][취소]버튼이네요. */
.register-bottom-button {
	height:35px;
	width:125px;
	font-size:15px;
    margin: 0;
    padding:0;
    border:none;
    outline: none;
	background-color:#65737e;
	color:#fff;
	cursor:pointer;
	border-radius: 3px;
	
	-webkit-transition: all .3s ease;
 	-moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.register-qna :hover{
	background: #2b303b;
}

.community-readtitle{
	height:45px;
	width:100%;
	margin: 0;
    padding: 10px;
	display: block;
	position: relative;	
}

.community-readtitle .readtitle{
	display: inline-block;
	position: relative;
	width: 340px;
	height: 45px;
}

 .title-label{
	font-size: 20px;
}

.readtitle .community-box{
	width: 270px;
	height: 20px;
}

.community-register{
	height:300px;
	width:720px;
	margin: 0;
    padding:10px;
	display: inline-block;
	position: relative;
	
}
.community-register .ta{
	resize:none;
	width: 700px;
	height: 230px;
}
.community-btn {
	height: 70px;
	width:720px;
	margin: 0;
    padding: 10px;
    display: inline-block;
    position: relative;
}


/*****************************************************************
							  modify
******************************************************************/

 .section_communitymod {
    position: relative;
    width: 740px;
    height: 500px;
    border: 1px solid #dee3eb;
    background: #fff;
} 

.community-register .modta{
	resize:none;
	width: 700px;
	height: 230px;
}

.community-modtitle{
	height:60px;
	width:100%;
	margin: 0;
    padding: 10px;
	display: block;
	position: relative;	
}

.community-modtitle .readtitle{
	display: inline-block;
	position: relative;
	width: 340px;
	height: 40px;
}