
/*****************************************************************
							  swlee
******************************************************************/
 .section_main_community {
    position: relative;
    width: 740px;
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;
} 
.community-head {
    position: relative;
    height: auto;
    background: #fff;   
    margin: 10px;
}

.company-contest-table .community_secth{
	width: 240x;
}

.company-contest-table .community_thirth{
	width: 140px;
}

.company-contest-table .community_fourth{
	width: 120px;
}

.company-contest-table .community_fiveth{
	width: 60px;
}

.company-contest-table .community_sixth{
	width: 45px;
}
