
/*****************************************************************
							  swlee
******************************************************************/
 .section_main_community {
    position: relative;
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;
} 

.com-select{
	padding-left: 15px;
}

.community-head {
    position: relative;
    height: auto;
    background: #fff;   
    margin: 10px;
}

