
/******** 커뮤니티 게시판 보는 페이지입니다. & 리플 스타일 있습니다. ********/

/*****************************************************************
							  section
******************************************************************/

 .section-board-read {
    position: relative;
    /* width: 740px;*/
    height: auto;
    border: 1px solid #dee3eb;
    background: #fff;
} 
 .section-board-reply {
    position: relative;
    /* width: 740px; */
    height: auto; 
    border: 1px solid #dee3eb;
    border-top: #dee3eb solid 10px;
    background: #fff;
    
} 



/*****************************************************************
							  title
******************************************************************/

.board-read-wrapper input[type="text"]{ /* 게시글 읽는 페이지의 전체 인풋타입박스 배경과 보더 없애줍니다.*/
     border: none;
     background: none;
     color: #fff;
     height: auto;
}

.board-read-wrapper{ /*게시글 읽기 총 감싸는 곳*/
	margin-top:10px;
	display:block;
	padding:20px; /****************************/
	height: auto;
	position: relative;
    /* border: orange solid 5px; */
}

.board-read-box { /*게시글 읽기 총 박스*/
	
}

.board-read-top { /* ------------------■ 상단) 제목 작성자 등 박스*/
	height:auto;
	width:100%;
	margin: 0;
    padding: 10px;
	display: block;
	position: relative;	
	background: #65737e;
    color: #fff;
}

.board-read-top .board-read-title .title-title{ /*글제목*/
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
	font-size:25px;
	margin: 20px 10px 20px 5px;
	/*border: blue solid 2px;*/
}

.board-read-datas { /*작성 시간, 작성자, 조회수 등 데이터들이 들어가는 디브에 적용시키세요.*/
	display: block;
	margin-bottom: 0;
	margin-left:10px;
	/*border: red solid 2px;*/
}
.board-read-date{ /*작성시간 디브에 적용시켜주세요.*/
	display: inline-block;
	font-size: 13px;
	/* border: yellow solid 2px;*/
}
.board-read-data{/*작성자와 조회수 디브에 적용시켜주세요.*/
	display: inline-block;
	margin-right: 20px;
	opacity: 0.7;
	/* border: yellow solid 2px; */
}

.board-read-datas .board-read-data label{
	/*작성자, 조회수 타이틀*/
	display: inline-block;
	font-weight: 400;
}

.board-read-data-content{
	/*작성자, 조회수 데이터 */
	display: inline-block;
}




/*****************************************************************
							  content
******************************************************************/

.board-read-contents{ /*중단) 게시물 상세보기 페이지의 내용입니다.*/
	padding: 10px;
	height:auto;
	width:100%;
	display: block;
	position: relative;
	/*border: pink solid 2px; /*레이아웃확인*/
	padding: 40px 25px 40px 25px ;
	border: #ebeef3 solid 1px;
}
.board-read-contents .board-read-content{ /*게시물 내용 1 --> 커뮤니티, qna에 적용*/
	
}




/*****************************************************************
							  button
******************************************************************/
.board-read-buttons{ /*하단) 버튼들이 들어가는 곳입니다.*/
	padding: 10px;
	height:auto;
	width:100%;
	display: inline-block;
	position: relative;
	/* border: green solid 2px; */
}

.board-read-button-toList{ /*목록으로 가기 버튼*/
	height: 40px;
	width: 140px;
	background: #65737e;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 5px;
	-webkit-transition: all .3s ease;
 	-moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 
}
.board-read-button-toList:hover{ /*목록으로 가기 버튼*/
	background: #2b303b;
	font-weight: 700;
}

.board-read-button-myBtns{ /*내가 쓴 글일때 보이는 버튼들*/
	margin:4px;
	/* border: blue solid 1px; */
}

.board-read-button-myBtns .board-read-button-myBtn {/*내가 쓴 글일때 보이는 버튼 - 수정삭제*/
	width: 68px;
	height: 32px;
	padding: 5px;
	margin: 0 2px 0 2px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background: #ffbad9;
	color: #fff;/* 
	
	-webkit-transition: all .3s ease;
 	-moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; */
}

.board-read-button-myBtn :hover{
	background: #2b303b;
}

/*****************************************************************
							  Reply
******************************************************************/
.reply-container .box{
	display: block;
	height: auto;
	padding: 20px; /********************************/
	/* border: green dotted 3px; */
}

.reply-container .box .box-header{ /* REPLY */
	font-size: 25px;
	font-weight: 500;
	color:#a1b4ea;
	border-bottom: #ebeef3 solid 2px;
	margin-bottom: 10px;
}

.reply-container .box .reply-content .reply-writecontent{ /*리플요소들*/
    padding:0;
    height: auto;
    display:block;
}
.reply-content .reply-writecontent .reply-content-writer{ /*작성자*/
	width: 100%;
	height: 20px;
	display: inline-block;
}
.reply-content .reply-writecontent .reply-content-contents{ /*작성내용*/
	padding-top: 5px;
	width: 100%;
	height: 50px;
	display: inline-block;
}
.reply-content .reply-writecontent .reply-content-button{ /*버튼*/
	padding-top: 5px;
	width: 100%;
	height: 50px;
	display: inline-block;
}
.reply-container .box .reply-content .reply-writecontent label{ /*작성자*/
    color: #a1b4ea;
    margin-right: 5px;
    font-weight: 400;
}
.reply-container .box .reply-content .reply-writecontent input[type="text"]{ /*작성자 인풋타입*/
    height: 25px;
    width: auto;
    border: none;
    border: #ebeef3 solid 1px;
    padding-left: 10px;
}
.reply-container .box .reply-content .reply-writecontent textarea{ /*작성내용 인풋타입*/
    height: 55px;
    width: auto;
    border: none;
    border: #ebeef3 solid 1px;
    padding: 10px;
}

.reply-container .box .reply-content .reply-writecontent input[type="submit"]{ /*작성 버튼 */
    height: 45px;
    width: 150px;
    border: none;
	border: #ebeef3 solid 2px;
	color: #65737e;
	background: #fff;
    padding: 10px;
    cursor: pointer;
    float: right;
    border-radius: 2px;
    -webkit-transition: all .3s ease;
 	-moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 
}
.reply-container .box .reply-content .reply-writecontent input[type="submit"]:hover{ /*작성 버튼 */
    background: #ebeef3;
    font-weight: 700;
}
.reply-content .reply-writer{
	width: 250px;
}

.reply_box_content_wrap{
	display: inline-block;
	
}
.reply-container .box ul,li{ /*리플 개당?*/
	list-style: none;
}