
/*****************************************************************
							  swlee
******************************************************************/
 .section_main {
    position: relative;
    height: 720px;
    border: 1px solid #dee3eb;
    background: #fff;
} 
.com-contest-box {
	width: 740px;
	height: 700px;
	margin: 15px 0 15px 0;
	/* border: 3px green solid; */
	display: flex;
	flex-direction: column;
}

.review-content{
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	height: 700px;
}

.review-box {
	border: orange 2px solid;
	width: 100%;
	height: 210px;
}

.star-left{
    width: 50%;
    height: 190px;
    float: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.star-left label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	font-weight: bold;
    font-size: 15px;
}

.star-right{
    width: 50%;
    height: 190px;
    float: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.star-right label{
	padding: 0 3px 3px 0;
	position: absolute;
	text-decoration: underline;
	line-height: 1em;
	font-weight: bold;
    font-size: 15px;
}

.star-box {
	padding: 10px;
}

/*****************************************************************
						sw_qna
******************************************************************/
#com_reply{
	border: 1px blue solid;
	border-radius: 10px;
	background: #867d88;
	color: #fff;
}
.table-label label{
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
}

.com-contest-paging{
	display: inline-flex;
    flex-direction: column;
    align-items:center;
    margin-left: 180px;
}

#registBtn {
	right: 0;
	bottom: 0;
}
/*****************************************************************
						progress bar
******************************************************************/
progress {
	display:inline-block;
	width:190px;
	height:19px;
	/* padding:15px 0 0 0; */
	margin: 5px 0 0 0;
	background:none;
	border: 0;
	border-radius: 15px;
	text-align: left;
	position:relative;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 0.8em;
}
progress::-webkit-progress-bar {
	height:15px;
	width:200px;
	margin:0 auto;
	background-color: #66bb6a;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}
progress::-webkit-progress-value {
	display:inline-block;
	float:left;
	height:15px;
	margin:0px -10px 0 0;
	background: #ef5350;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}

progress:after {
	margin:-20px 0 0 100px;
	padding:0;
	display:inline-block;
	float:left;
	content: attr(value) '%';
}

.star-btn {
	width: 200px;
	margin-left:75px;
	background: #80ffff;
	color: #fff;
	opacity: 0.7;
	bottom: 5px;
	position: absolute;
}
.star-rank{
	position: relative;
	width: 350px;
}
.star-label{
	right: 5px;
	position: absolute;
	background-color: teal;
}