
/*****************************************************************
							  swlee
******************************************************************/
.section_noteread {
    position: relative;
    height: 500px;
    border: 1px solid #dee3eb;
    background: #fff;

}

.note-title{
	height:40px;
	display: block;
	position: relative;
	margin: 5px 0;
	padding: 5px;
}
.note-title .note-title-box{
	display: inline-block;
	width: 49.5%;
	height: 100%;
	font-size: 20px;

}
.note-content{
	height:auto;
	display: block;
	position: relative;
	margin: 5px 0;
	font-size: 20px;
	padding: 5px;
}

.note-btn{
	height:auto;
	display: block;
	position: relative;
	margin: 5px 0;
	padding: 5px;
}