
/*****************************************************************
                           nav&navbar
******************************************************************/
.nav {
 position:fixed;
 height:150px;
 background-color:#fff;
 top:0;
 width:100%;
 z-index:1000;
}

.navbar{
	display:block;
	width:1100px;
	margin: 0 auto;
	position:relative;
	width:1100px;
}
.search{
	display:block;
	position:absolute;
	margin: 0 auto;
	height:100px;
	width:100%;
	z-index:1200;
}
.navbar ul{
	display:block;
	position:absolute;
	text-align:center;
	padding:100px;
	
	width:100%;
	list-style-type:none;
}
.navbar ul li{
	display:inline-block;
	width:10%;
	height:50px;
	margin: 0;
	padding-top:12px;
	
	font-size:17px;
	font-weight:400;
	color:#555;
	border-bottom: 3px solid #fff;
	
	cursor: pointer;
}
.navbar ul li:hover {
	border-bottom: 3px solid #ddd;
}

/* 서치버튼 ****************************/
