.board-paging{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 60px;
}

.board-pageline{
	display: block;
	margin:0 auto;
	position: relative;
	width: 500px;
	height: auto;

}

.board-search{
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
}
.board-pagination {
	position: relative;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
}
.board-pagination li{
	display: inline-block;
}
.board-pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.board-pagination a:hover:not(.active) {
	background-color: #ddd;
}

.board-pagination a.active {
	background-color: #6abded;
    color: white;
}
.board-pagination a:focus {
	background-color: #6abded;
    color: white;
}
.board-search .board-btn{
	border: none;
	background-color: #a1b4ea;
	color: #fff;
	cursor: pointer;
}  
.board-search .searchType{
	display: inline-block;
	position: relative;
} 
.row{
	width: 100%;
	height: auto;
	display: block;
	padding-left: 15px;
    padding-right: 15px;
}