/*
 *userMain.css
 *2018/03/07
 *writer_son
*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani');
/* fixed box size */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*****************************************************************
                           body & grid

top-margin:

width:1100px  left-width: 740px; right-width: 332px;
******************************************************************/

body {
  font-family: 'Raleway', "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-size: 14px;
  background-color: #e1e1e1;
  margin: 0;
  z-index: -10;
}

.container {
  color: aaa;
  display: block;
  margin: 35px auto;
  padding: 8px 10px 0;
  width: 1100px;
  text-align: left;
  zoom: 1;
}

.wrapper {
  padding: 15px;
}

.title-wrapper {
  display: block;
  padding-left: 15px;
  border-bottom: 2px solid #333;
}

.column-title {
  color: #aaa;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 0 12px 0;
}

.column-contents {
  position: relative;
  width: 100%;
  height: 217px;
  background-color: #ebeef3;
}

/*****************

header CSS

*****************/

.header {
  display: block;
  float: none;
  width: 1080px;
  margin: 0;
  padding: 0;
}

.header .section-header {
  display: block;
  height: 50px;
  background: #09090a;
  margin: 0;
  padding: 0;
}

.header .section-header .title-area {
  display: table-cell;
  height: 50px;
  padding: 0 20px 0 20px;
  vertical-align: middle;
  color: #d1d1d1;
}

.header .section-header .title-area .title {
  padding-top: 2px;
  font-weight: 600;
  display: inline-block;
  width: 890px;
}

.header .section-header .title-area .timer {
  display: inline-block;
}

.header .section-header .title-area .limit-time {
  color: #ffd323;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/**********
 header nav
 **********/

.header .section-header .nav-icon {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  height: 50px;
  width: 50px;
  background-color: #333;
  cursor: pointer;
}

.header .section-header .nav-icon:hover {
  background-color: #111;
}

.header .section-header .nav-icon img {
  margin: 10px 0 0 10px;
  width: 30px;
  height: 30px;
}

.header .section-header .nav-list {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  height: 50px;
  width: 980px;
  background-color: #333;
}

.header .section-header .nav-list ul {
  list-style: none;
  height: 50px;
}

.header .section-header .nav-list ul li {
  display: inline-block;
  text-align: center;
  float: left;
  height: 100%;
  width: 98px;
  color: #6a98e8;
  cursor: pointer;
}

.header .section-header .nav-list ul li:hover {
  background-color: #111;
}

.header .section-header .nav-list ul li div {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 98px;
  /* drag false */
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/*****************

question CSS

*****************/

/* coding�삎 臾명빆 CSS */

.column-question {
  display: block;
  float: left;
  width: 370px;
}

.section_question {
  color: #ced8e8;
  position: relative;
  height: 600px;
  background: #111;
  margin: 0;
  padding: 0;
}

.section_question .question-type {
  color: #ced8e8;
  font-style: italic;
  font-size: 12px;
}

.section_question .question-type span {
  color: #fff;
  font-weight: 600;
}

.section_question .question {
  padding-top: 20px;
  color: #ddd;
  font-size: 14px;
}

.section_question .example {
  padding-top: 15px;
  height: 478px;
  background-color: #222;
  font-family: 'Titillium Web', sans-serif;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section_question .example-coding {
  padding-left: 10px;
  padding-right: 10px;
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 200;
  /* letter-spacing:1pt; */
  font-size: 14px;
  line-height: 35px;
  display: block;
}

.section_question input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0;
}

.section_question .example-choice {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




/* 媛앷��떇臾명빆 CSS */

.column-question2 {
  display: block;
  float: left;
  width: 1080px;
}

.section_question2 {
  color: #ced8e8;
  position: relative;
  height: 400px;
  background: #111;
  margin: 0;
  padding: 0;
}

.section_question2 .question-type {
  color: #ced8e8;
  font-style: italic;
  font-size: 12px;
}

.section_question2 .question-type span {
  color: #fff;
  font-weight: 600;
}

.section_question2 .question {
  padding-top: 20px;
  color: #ddd;
  font-size: 14px;
}

.section_question2 .example {
  padding-top: 15px;
  height: 278px;
  background-color: #222;
  font-family: 'Titillium Web', sans-serif;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section_question2 .example-choice {
  padding-left: 10px;
  padding-right: 10px;
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 200;
  /* letter-spacing:1pt; */
  font-size: 14px;
  line-height: 35px;
  display: block;
}

/*****************

solve CSS

*****************/

.column-solve {
  display: block;
  position: relative;
  float: right;
  width: 710px;
  margin: 0;
  padding: 0;
}

.section-solve {
  position: absolute;
  height: 600px;
  width: 710px;
  background: #4c4f5e;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-solve .codeeditor {
  display: block;
  height: 450px;
  padding: 0;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-solve .output {
  display: block;
  height: 40px;
  font-size: 17px;
  color: #ddd;
}

.section-solve .output-area {
  display: block;
  font-family: 'Rajdhani', sans-serif;
  height: 110px;
  color: #ffd323;
  background-color: #282a36;
  font-size: 15px;
}

.section-solve .output-area textarea {
  width: 100%;
  resize: none;
  border: 0;
  background-color: #282a36;
  outline-style: none;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
  color: #ffd323;
  font-size: 15px;
}

.output-title {
  display: inline-block;
  float: left;
  padding: 12px;
  margin: 0;
}

.a-btn {
  display: inline-block;
  float: right;
  padding: 12px 31px 12px 31px;
  margin: 0;
  width: 100px;
  height: 100%;
  background-color: #32d289;
  border-left: 1px solid #282a36;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.a-btn:hover,
.next-btn-area .next-btn:hover {
  background-color: #09bec5;
  color: #0f4b7e;
}

/* 媛앷��떇 �떟�븞�옉�꽦 CSS */

.column-solve2 {
  display: block;
  position: relative;
  float: right;
  width: 1080px;
  margin: 0;
  padding: 0;
}

.section-input {
  position: block;
  display: inline-block;
  float: left;
  height: 200px;
  width: 880px;
  background: #282a36;
  margin: 0;
  padding: 15px;
}
.section-input .example-list {
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 17px;
  list-style-type: none;
  color: #ffd323;
}
.section-input .example-list li {

  padding-bottom: 12px;
}
.section-input .example-list li label{
  font-weight: 100;
  padding-top: 5px;
}

.section-input input {
  display: inline-block;
  width: 45%;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  border: 0;
  background: #d1d1d1;
  outline-style: none;
}
.next-btn-area {
  position: block;
  display: inline-block;
  height: 200px;
  width: 200px;
  background: #282a36;
  margin: 0;
  padding: 15px;
}
.next-btn-area .next-btn{
  position: block;
  display: table-cell;
  height: 170px;
  width: 170px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #32d289;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
