
/*****************************************************************
							  swlee
******************************************************************/
 .section_notelist {
    position: relative;
    height: auto;
    min-height:500px;
    border: 1px solid #dee3eb;
    background: #fff;   
    margin-bottom: 8px;
    display: block;
} 

