

/*  
 *userMain.css
 *2018/03/07
 *writer_son
*/

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* fixed box size */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin:0;
          padding:0;
}
/* navbar css */
.nav {
 display: block;
 height:150px;
 background-color:#fff;
 z-index:1000;
}

.navbar{
	display:block;
	position:relative;
	width:1100px;
	margin: 0 auto;
	width:1100px;
	height:150px;
	z-index:1500;
}

.navbar .nav-item{
  display: block;
  float:right;
  height:100%;
  width: 1080px;
  margin-right: 10px;
  margin-left: 10px;
}
.navbar .brand{
	display:inline-block;
	float:left;
	height:100px;
	width:30%;
}
.navbar .brand img{
	height:100px;
	width: 80%;
}
.navbar .search{
	display:inline-block;
	float:right;
	height:100px;
	width:70%;
}
.navbar ul{
	text-align:center;
	width:100%;
	list-style-type:none;
}
.navbar ul li{
	display:inline-block;
	float:left;
	width:10%;
	height:50px;
	margin: 0;
	padding-top:12px;
	
	font-size:17px;
	font-weight:400;
	color:#555;
	border-bottom: 3px solid #fff;
	
	cursor: pointer;
}
.navbar ul li:hover {
	border-bottom: 3px solid #ddd;
}
/* com-nav */
.com-nav {
 display: block;
 height:150px;
 background-color:#4d4d4d;
 z-index:1000;
}

.com-navbar{
	display:block;
	position:relative;
	width:1100px;
	margin: 0 auto;
	width:1100px;
	height:150px;
	z-index:1500;
}

.com-navbar .com-nav-item{
  display: block;
  float:right;
  height:100%;
  width: 1080px;
  margin-right: 10px;
  margin-left: 10px;
}
.com-navbar .brand{
	display:inline-block;
	float:left;
	height:100px;
	width:30%;
}
.com-navbar .brand img{
	height:100px;
	width: 80%;
}
.com-navbar .com-search{
	display:inline-block;
	float:right;
	height:100px;
	width:70%;
}
.com-navbar ul{
	text-align:center;
	width:100%;
	list-style-type:none;
}
.com-navbar ul li{
	display:inline-block;
	float:left;
	width:10%;
	height:50px;
	margin: 0;
	padding-top:12px;
	
	font-size:17px;
	font-weight:400;
	color:#f1f1f1;
	border-bottom: 3px solid #4d4d4d;
	
	cursor: pointer;
}
.com-navbar ul li:hover {
	border-bottom: 3px solid #f1f1f1;
}

/* 서치버튼 ****************************/



/*****************************************************************
                           body & grid

top-margin:

width:1100px  left-width: 740px; right-width: 332px;
******************************************************************/
body {
	font-family: 'Mina',"Noto Sans KR", sans-serif;
	font-weight: 200;
	font-size:14px;
	background-color: #f2f4f7;
	margin:0;
}

body:lang(en) {
	font-family: 'Titillium Web', sans-serif;
}

.container {
	display: block;
    margin: 0 auto;
    padding: 8px 10px 0;
    width: 1100px;
    text-align: left;
    zoom: 1;
}

.wrapper{
	display:block;
	padding: 15px;
}
.title-wrapper{
	display:block;
	padding-left: 15px;
	border-bottom: 1px solid #ebeef3;
}

.column-title{
	/* color: #2b303b;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 0 12px 0;
	*//*---- 0327오후 바꾼부분 ----*/
	color: #65737e;
    font-size: 28px;
    font-weight: 100;
    padding: 16px 0 16px 6px;
    /*----------------------*/
}
.column-contents{
	position:relative;
	width: 100%;
	height: 217px;
	background-color: #ebeef3;
}

/***************** 

left side CSS  

*****************/
.column-left {
	display: block;
    float: left;
    width: 740px;
}

.section_main1 {
    position: relative;
    height: 400px;
    border: 1px solid #dee3eb;
    background: #fff;
    overflow: hidden;
    margin-bottom: 8px;
}

.section_main1 img{
	width:740px;
	height: auto;
}
.section_main2 {
    position: relative;
    height: 400px;
    border: 1px solid #dee3eb;
    overflow: hidden;
    background: #fff;
    
    margin-bottom: 8px;
}

.section_main2 img{
	width:740px;
	height: auto;
}

.com_main1 {
    position: relative;
    height: 400px;
    border: 1px solid #dee3eb;
    overflow: hidden;
    background: #fff;
    margin-bottom: 8px;
}
.com_main1 img{
	width:740px;
	height: auto;
	
}

.com_main2 {
    position: relative;
    height: 400px;
    border: 1px solid #dee3eb;
    background: #fff;
    margin-bottom: 8px;
	overflow: hidden;
}
.com_main2 img{
	width:740px;
	height: auto;
}

.user-search {
    position: relative;
    height: auto;
    border: 1px solid #dee3eb;
    overflow: hidden;
    background: #fff;
    
    margin-bottom: 8px;
}

/***************** 

right side CSS  

*****************/
.column-right {
    display: block;
    position: relative;
    float: right;
    width: 332px;
}

/*      login     */

.section_login {
    position: relative;
    height: 200px;
    border: 1px solid #dee3eb;
    background: #fff;
    margin-bottom: 8px;
}

.section_login span{
	font-size:small;
	color: #2b303b;
	font-weight:400;
	text-decoration: none;	
}
.section_login a{
	color: #2b303b;
	text-decoration: none;
}
.section_login span:hover{
	color: #2b303b;
	font-weight:600;
}

.login-input {
    width: 100%;
    padding: 10px 10px;
    margin: 0 0 12px 0;
    border: 1px solid #65737e;
    outline: none;
}
.login-btn{
	width: 100%;
    padding: 10px 20px;
    margin: 5px 0 5px 0;
    border:none;
    outline: none;
	background-color:#65737e;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	
	-webkit-transition: all .55s ease;
 	-moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}
.login-btn:hover{
	background-color: #2b303b;
	color: #fff;
}

.login-info{
	height:145px;
	width:330px;
	padding-top: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ebeef3;
	border-top: 30px solid #ebeef3;
}
.login-info .user-icon img{
	display:inline-block;
	float:left;
	width: 70px;
	height: 70px;
	
	margin-left:13px;
	cursor: pointer;
	border-radius: 50%;
}

.login-info .user-icon img:hover{
	border: 2px solid #bbb;
}

.login-info .user-email{
	display:inline-block;
	width: 232px;
	height: 42px;
	float:left;
	margin-right:15px;
	padding-left: 10px;
	padding-top:20px;
	
	font-size: 13px;
	color: #666;
}

.login-info .logout-btn{
	display:inline-block;
	float:right;
	width: 70px;
	height: 28px;
	text-align:center;
	border: 1px solid #d9d9d9;
	padding-top: 3px;
	margin-right:15px;
	
	cursor: pointer;
}

.login-info .logout-btn a{
	position:relative;
	font-size: 14px;
}
.login-info .logout-btn:hover{
	border-color: #aaa;
}

.login-tab{
	height:55px;
	width:330px;
	/* background-color: #222; */
}

.login-tab .mypage{
	position:relative;
	display: inline-block;
	float:left;
	text-align:center;
	height:100%;
	width: 50%;
	border-right: 1px solid #ebeef3;
	padding-top: 15px;
	cursor: pointer;
}
.mypage-dropdown{
	display:none;
	position: absolute;
	top:198px;
	left:-1px;
	z-index:100;
	
	border: 1px solid #dee3eb;
	border-top:none;
	background-color:#fff;
	width: 332px;
	height: 80px;
}
.line{
	position: absolute;
	width:50%;
	left:165px;
	top:-1px;
	border-top: 1px solid #dee3eb;
}
.portfolio,
.pwd-change{
	padding-left: 50px;
	padding-top:8px;
	height: 40px;
	cursor: pointer;
}
.portfolio{
	border-bottom: 1px solid #dee3eb;
}

.portfolio:hover,
.pwd-change:hover{
	background-color: #f1f1f1;
}

.login-tab .note{
	position:relative;
	display: inline-block;
	float:left;
	text-align:center;
	height: 100%;
	width:50%;
	padding-top: 15px;
	cursor: pointer;
}

.note-cnt{
	position: absolute;
    top: -13px;
    right: -12px;

	height:25px;
	width:25px;
	background-color: #FC3768;
	border-radius: 50%;
	margin-left: 10px;
	
}

#note-cnt{
	position: absolute;
    top: -9px;
    right: -15px;
    text-align:center;
    width:30px;
    hight:30px;
    
	color:#fff;
	font-weight:600;
	font-size:12px;
	font-family:'Titillium Web', sans-serif;
}

.login-tab .mypage:hover,
.login-tab .note:hover{
	background-color: #f1f1f1;
}
/* zzim */
.section_zzim {
    position: relative;
    height: 300px;
    border: 1px solid #dee3eb;
    background: #fff;
    margin-bottom: 8px;
}

.section_zzim i{
	color: #aaa;
	font-size: 12px;
	margin: 0;
	padding: 5px 0 0 5px;
}









