<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>그리드 테스트</title>

	<!-- CSS -->
	<link href="../../../resources/css/checkbox.css" rel="stylesheet" type="text/css">
	<link href="../../../resources/css/solve.css" rel="stylesheet" type="text/css">
	<link href="../../../resources/css/codemirror.css" rel="stylesheet" type="text/css">
	<link href="../../../resources/css/dracula.css" rel="stylesheet" type="text/css">
	<link href="../../../resources/css/simplescrollbars.css" rel="stylesheet" type="text/css">
	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500" rel="stylesheet">
	<!-- JS,JQUERY -->
	<script type="text/javascript" src="../../../resources/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../../resources/js/codemirror.js"></script>
	<script type="text/javascript" src="../../../resources/js/simplescrollbars.js"></script>
	<script type="text/javascript" src="../../../resources/js/javascript.js"></script>
	<script type="text/javascript" src="../../../resources/js/css.js"></script>
	<script type="text/javascript" src="../../../resources/js/clike.js"></script>


	<style>
	</style>
	<script type="text/javascript">
		//제한시간 타이머
		function limitTimer() {
			//끝나는 시간 설정
			var endTime = new Date('2018/03/30 19:37:00');
			//현재시간
			var nowTime = new Date();
			//(끝나는 시간 설정-현재시간)/1000 = 남은시간(초)
			var limitSec = (endTime.getTime() - nowTime.getTime()) / 1000;

			var hour = Math.floor(limitSec / 3600);
			var min = Math.floor((limitSec % 3600) / 60);
			var sec = Math.floor(limitSec % 60);

			if (hour < 10 && hour >= 0) {
				var hour = '0' + hour;
			}
			if (min < 10 && min >= 0) {
				var min = '0' + min;
			}
			if (sec < 10 && sec >= 0) {
				var sec = '0' + sec;
			}

			var limitTime = hour + ':' + min + ':' + sec;

			if (sec < 0) {
				var limitTime = '00:00:00';
				alert('시험이 끝났습니다. 자동 제출이되며 시험결과창으로 이동합니다.');
				window.open("main", "_self");
			}

			$('.limit-time').text(limitTime);

			return limitTime;
		}

		$(function() {
			//timer event
			var timerId = setInterval("limitTimer()", 1000);
			if (limitTimer() == '00:00:00') {
				clearInterval(timerId);
			}

			//제출버튼 클릭->내용 제출
			$('.next-btn').on('click', function() {

			});

		});
	</script>
</head>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<body>


	<div class='container'>

		<!-- header section!!************************************************************** -->
		<div class='header'>
			<div class='section-header'>
				<div class='title-area'>
					<div class=title>제1회 삼성 - 천하제일 코딩대회</div>
					<div class='timer'>남은시간 :
						<span class='limit-time'>00:00:00</span>
					</div>
				</div>
			</div>
		</div>

		<!-- nav section!!************************************************************** -->
		<div class='header'>
			<div class='section-header'>
				<div class='nav-icon' style="float:left;">
					<img src="../../../resources/image/ing/left-btn.svg">
				</div>
				<div class='nav-list'>
					<ul>
						<li>
							<div>문제 1</div>
						</li>
						<li>
							<div>문제 2</div>
						</li>
						<li>
							<div>문제 3</div>
						</li>
						<li>
							<div>문제 4</div>
						</li>
						<li>
							<div>문제 5</div>
						</li>
						<li>
							<div>문제 6</div>
						</li>
						<li>
							<div>문제 7</div>
						</li>
						<li>
							<div>문제 8</div>
						</li>
						<li>
							<div>문제 9</div>
						</li>
						<li>
							<div>문제 10</div>
						</li>
					</ul>
				</div>
				<div class='nav-icon' style="float:right;">
					<img src="../../../resources/image/ing/right-btn.svg">
				</div>
			</div>
		</div>

		<!-- mid section!!*************************************************************** -->
		<div class='column-question2'>
			<div class='section_question2'>

				<div class='title-wrapper'>
					<!-- 총 문항수 EL들어가야함 -->
					<div class='column-title'>문제 1번/20문항</div>
				</div>
				<div class='wrapper' style="height: 50px;">
					<i class='question-type'>*<span>주관식</span> 문항입니다.<br>문제를 잘읽고 풀어주시기 바랍니다.</i>
					<!-- <div class='question'>다음중 빈칸에 알맞은 자료형은?</div> -->
				</div>

				<div class='wrapper'>
					<div class='example'>
						<div class='example-choice'>
							<pre>아나 난 뭘하고 있는걸까
								슈밤 엔터를 치면 알아서 존나 이상하게 들어가 킬킬킬</pre>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- column-question2 -->

		<!-- right section!!************************************************************* -->
		<div class='column-solve2'>
			<div class='section-input'>
				<ul class="example-list">

					<!-- <c:forEach begin="1" end="5" var="index"> -->
					<!-- <input type="text" class="answer${index}" placeholder="${index}번째 빈칸에 알맞은 답을 적어주세요."> -->
					<input type="text" class="answer1" placeholder="1번째 빈칸에 알맞은 답을 적어주세요.">
					<input type="text" class="answer2" placeholder="2번째 빈칸에 알맞은 답을 적어주세요.">
					<input type="text" class="answer3" placeholder="3번째 빈칸에 알맞은 답을 적어주세요.">
					<input type="text" class="answer4" placeholder="4번째 빈칸에 알맞은 답을 적어주세요.">
					<input type="text" class="answer5" placeholder="5번째 빈칸에 알맞은 답을 적어주세요.">
					<!-- </c:forEach> -->

				</ul>
			</div>
			<div class='next-btn-area'>
				<div class="next-btn">제출</div>
			</div>
		</div>
		<!-- column-solve -->

	</div>
	<!-- container -->

</body>

</html>
